<a href="https://colab.research.google.com/github/jnels4/nfl_predictions/blob/Brit/NFL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os
spark_version = 'spark-3.2.2'
os.environ['SPARK_VERSION']=spark_version
# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.2.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.2.tgz
!pip install -q findspark
# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3.2"
# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:3 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:6 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Ign:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:8 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,121 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:11 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:13 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,540 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,959 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,099 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,162 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,390 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,076 kB]
Fetched 13.6 MB in 4s (3,706 kB/s)
Reading package lists... Done

In [3]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-09-05 03:07:10--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.09s

2022-09-05 03:07:10 (10.3 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("NFL-Prediction").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [5]:
from pyspark import SparkFiles
url = "https://nflpredictionsdataviz.s3.amazonaws.com/spreadspoke_scores.csv"
spark.sparkContext.addFile(url)
NFL_Guru_df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get("spreadspoke_scores.csv"), sep=",", header=True, inferSchema=True)
NFL_Guru_df.show()

+-------------+---------------+-------------+----------------+-------------------+----------+----------+--------------------+----------------+---------------+---------------+--------------------+---------------+-------------------+----------------+----------------+--------------+
|schedule_date|schedule_season|schedule_week|schedule_playoff|          team_home|score_home|score_away|           team_away|team_favorite_id|spread_favorite|over_under_line|             stadium|stadium_neutral|weather_temperature|weather_wind_mph|weather_humidity|weather_detail|
+-------------+---------------+-------------+----------------+-------------------+----------+----------+--------------------+----------------+---------------+---------------+--------------------+---------------+-------------------+----------------+----------------+--------------+
|     9/2/1966|           1966|            1|           false|     Miami Dolphins|        14|        23|     Oakland Raiders|            null|           null|           null|         Orange Bowl|          false|                 83|               6|              71|          null|
|     9/3/1966|           1966|            1|           false|     Houston Oilers|        45|         7|      Denver Broncos|            null|           null|           null|        Rice Stadium|          false|                 81|               7|              70|          null|
|     9/4/1966|           1966|            1|           false| San Diego Chargers|        27|         7|       Buffalo Bills|            null|           null|           null|      Balboa Stadium|          false|                 70|               7|              82|          null|
|     9/9/1966|           1966|            2|           false|     Miami Dolphins|        14|        19|       New York Jets|            null|           null|           null|         Orange Bowl|          false|                 82|              11|              78|          null|
|    9/10/1966|           1966|            1|           false|  Green Bay Packers|        24|         3|     Baltimore Colts|            null|           null|           null|       Lambeau Field|          false|                 64|               8|              62|          null|
|    9/10/1966|           1966|            2|           false|     Houston Oilers|        31|         0|     Oakland Raiders|            null|           null|           null|        Rice Stadium|          false|                 77|               6|              82|          null|
|    9/10/1966|           1966|            2|           false| San Diego Chargers|        24|         0|New England Patriots|            null|           null|           null|      Balboa Stadium|          false|                 69|               9|              81|          null|
|    9/11/1966|           1966|            1|           false|    Atlanta Falcons|        14|        19|    Los Angeles Rams|            null|           null|           null|Atlanta-Fulton Co...|          false|                 71|               7|              57|          null|
|    9/11/1966|           1966|            2|           false|      Buffalo Bills|        20|        42|  Kansas City Chiefs|            null|           null|           null|War Memorial Stadium|          false|                 63|              11|              73|          null|
|    9/11/1966|           1966|            1|           false|      Detroit Lions|        14|         3|       Chicago Bears|            null|           null|           null|       Tiger Stadium|          false|                 67|               7|              73|          null|
|    9/11/1966|           1966|            1|           false|Pittsburgh Steelers|        34|        34|     New York Giants|            null|           null|           null|        Pitt Stadium|          false|                 64|               5|              70|          null|
|    9/11/1966|           1966|            1|           false|San Francisco 49ers|        20|        20|   Minnesota Vikings|            null|           null|           null|       Kezar Stadium|          false|                 60|              25|              75|          null|
|    9/11/1966|           1966|            1|           false|St. Louis Cardinals|        16|        13| Philadelphia Eagles|            null|           null|           null|Busch Memorial St...|          false|                 72|               5|              70|          null|
|    9/11/1966|           1966|            1|           false|Washington Redskins|        14|        38|    Cleveland Browns|            null|           null|           null|RFK Memorial Stadium|          false|                 65|               8|              52|          null|
|    9/16/1966|           1966|            2|           false|   Los Angeles Rams|        31|        17|       Chicago Bears|            null|           null|           null|Los Angeles Memor...|          false|                 72|              10|              52|          null|
|    9/18/1966|           1966|            3|           false|      Buffalo Bills|        58|        24|      Miami Dolphins|            null|           null|           null|War Memorial Stadium|          false|                 61|               3|              67|          null|
|    9/18/1966|           1966|            2|           false|   Cleveland Browns|        20|        21|   Green Bay Packers|            null|           null|           null|Cleveland Municip...|          false|                 62|               6|              57|          null|
|    9/18/1966|           1966|            2|           false|     Dallas Cowboys|        52|         7|     New York Giants|            null|           null|           null|         Cotton Bowl|          false|                 72|               9|              82|          null|
|    9/18/1966|           1966|            3|           false|     Denver Broncos|        10|        24|New England Patriots|            null|           null|           null|   Mile High Stadium|          false|                 59|               7|              53|          null|
|    9/18/1966|           1966|            2|           false|  Minnesota Vikings|        23|        38|     Baltimore Colts|            null|           null|           null|Metropolitan Stadium|          false|                 60|               4|              64|          null|
+-------------+---------------+-------------+----------------+-------------------+----------+----------+--------------------+----------------+---------------+---------------+--------------------+---------------+-------------------+----------------+----------------+--------------+
only showing top 20 rows

In [6]:
NFL_Guru_df.printSchema()

root
 |-- schedule_date: string (nullable = true)
 |-- schedule_season: integer (nullable = true)
 |-- schedule_week: string (nullable = true)
 |-- schedule_playoff: boolean (nullable = true)
 |-- team_home: string (nullable = true)
 |-- score_home: integer (nullable = true)
 |-- score_away: integer (nullable = true)
 |-- team_away: string (nullable = true)
 |-- team_favorite_id: string (nullable = true)
 |-- spread_favorite: double (nullable = true)
 |-- over_under_line: string (nullable = true)
 |-- stadium: string (nullable = true)
 |-- stadium_neutral: boolean (nullable = true)
 |-- weather_temperature: integer (nullable = true)
 |-- weather_wind_mph: integer (nullable = true)
 |-- weather_humidity: integer (nullable = true)
 |-- weather_detail: string (nullable = true)

In [7]:
NFL_guru_current = NFL_Guru_df.where(NFL_Guru_df.schedule_season>1978)
NFL_guru_current.show()

+-------------+---------------+-------------+----------------+--------------------+----------+----------+--------------------+----------------+---------------+---------------+--------------------+---------------+-------------------+----------------+----------------+--------------+
|schedule_date|schedule_season|schedule_week|schedule_playoff|           team_home|score_home|score_away|           team_away|team_favorite_id|spread_favorite|over_under_line|             stadium|stadium_neutral|weather_temperature|weather_wind_mph|weather_humidity|weather_detail|
+-------------+---------------+-------------+----------------+--------------------+----------+----------+--------------------+----------------+---------------+---------------+--------------------+---------------+-------------------+----------------+----------------+--------------+
|     9/1/1979|           1979|            1|           false|Tampa Bay Buccaneers|        31|        16|       Detroit Lions|              TB|           -3.0|             30|  Houlihan's Stadium|          false|                 79|               9|              87|          null|
|     9/2/1979|           1979|            1|           false|       Buffalo Bills|         7|         9|      Miami Dolphins|             MIA|           -5.0|             39|Ralph Wilson Stadium|          false|                 74|              15|              74|          null|
|     9/2/1979|           1979|            1|           false|       Chicago Bears|         6|         3|   Green Bay Packers|             CHI|           -3.0|             31|       Soldier Field|          false|                 78|              11|              68|          null|
|     9/2/1979|           1979|            1|           false|      Denver Broncos|        10|         0|  Cincinnati Bengals|             DEN|           -3.0|           31.5|   Mile High Stadium|          false|                 69|               6|              38|          null|
|     9/2/1979|           1979|            1|           false|  Kansas City Chiefs|        14|         0|     Baltimore Colts|              KC|           -1.0|             37|   Arrowhead Stadium|          false|                 76|               8|              71|          null|
|     9/2/1979|           1979|            1|           false|    Los Angeles Rams|        17|        24|     Oakland Raiders|             LAR|           -4.0|           36.5|     Anaheim Stadium|          false|                 70|              10|              77|          null|
|     9/2/1979|           1979|            1|           false|   Minnesota Vikings|        28|        22| San Francisco 49ers|             MIN|           -7.0|             32|Metropolitan Stadium|          false|                 70|              11|              67|          null|
|     9/2/1979|           1979|            1|           false|  New Orleans Saints|        34|        40|     Atlanta Falcons|              NO|           -5.0|             32| Louisiana Superdome|          false|                 72|               0|            null|          DOME|
|     9/2/1979|           1979|            1|           false|       New York Jets|        22|        25|    Cleveland Browns|             NYJ|           -2.0|             41|      Giants Stadium|          false|                 73|              10|              76|          null|
|     9/2/1979|           1979|            1|           false| Philadelphia Eagles|        23|        17|     New York Giants|             PHI|           -7.0|           31.5|    Veterans Stadium|          false|                 76|               9|              84|          null|
|     9/2/1979|           1979|            1|           false|    Seattle Seahawks|        16|        33|  San Diego Chargers|             SEA|           -2.0|           42.5|    Seattle Kingdome|          false|                 72|               0|            null|          DOME|
|     9/2/1979|           1979|            1|           false| St. Louis Cardinals|        21|        22|      Dallas Cowboys|             DAL|           -4.0|             37|Busch Memorial St...|          false|                 76|               7|              73|          null|
|     9/2/1979|           1979|            1|           false| Washington Redskins|        27|        29|      Houston Oilers|             TEN|           -4.0|             33|RFK Memorial Stadium|          false|                 80|              11|              85|          null|
|     9/3/1979|           1979|            1|           false|New England Patriots|        13|        16| Pittsburgh Steelers|             PIT|           -2.0|             37|     Foxboro Stadium|          false|                 78|              13|              80|          null|
|     9/6/1979|           1979|            2|           false|      Denver Broncos|         9|        13|    Los Angeles Rams|             DEN|           -2.0|           31.5|   Mile High Stadium|          false|                 67|               8|              50|          null|
|     9/9/1979|           1979|            2|           false|     Baltimore Colts|        26|        29|Tampa Bay Buccaneers|            PICK|            0.0|             33|Memorial Stadium ...|          false|                 64|               8|              65|          null|
|     9/9/1979|           1979|            2|           false|       Buffalo Bills|        51|        24|  Cincinnati Bengals|             CIN|           -3.0|             34|Ralph Wilson Stadium|          false|                 54|               7|              63|          null|
|     9/9/1979|           1979|            2|           false|       Chicago Bears|        26|         7|   Minnesota Vikings|             CHI|           -6.0|           31.5|       Soldier Field|          false|                 60|              11|              64|          null|
|     9/9/1979|           1979|            2|           false|       Detroit Lions|        24|        27| Washington Redskins|            PICK|            0.0|           35.5|  Pontiac Silverdome|          false|                 72|               0|            null|          DOME|
|     9/9/1979|           1979|            2|           false|   Green Bay Packers|        28|        19|  New Orleans Saints|              GB|           -3.0|             35|       Lambeau Field|          false|                 60|              13|              71|          null|
+-------------+---------------+-------------+----------------+--------------------+----------+----------+--------------------+----------------+---------------+---------------+--------------------+---------------+-------------------+----------------+----------------+--------------+
only showing top 20 rows

In [8]:
from pyspark.sql import functions as F

NFL_guru_wins = NFL_guru_current.withColumn('home_win',
                                            F.when((F.col('score_home')>F.col('score_away')), 2)\
                                            .when((F.col('score_home')<F.col('score_away')), 1).otherwise(0)                                   
                                            )
NFL_guru_wins.show()

+-------------+---------------+-------------+----------------+--------------------+----------+----------+--------------------+----------------+---------------+---------------+--------------------+---------------+-------------------+----------------+----------------+--------------+--------+
|schedule_date|schedule_season|schedule_week|schedule_playoff|           team_home|score_home|score_away|           team_away|team_favorite_id|spread_favorite|over_under_line|             stadium|stadium_neutral|weather_temperature|weather_wind_mph|weather_humidity|weather_detail|home_win|
+-------------+---------------+-------------+----------------+--------------------+----------+----------+--------------------+----------------+---------------+---------------+--------------------+---------------+-------------------+----------------+----------------+--------------+--------+
|     9/1/1979|           1979|            1|           false|Tampa Bay Buccaneers|        31|        16|       Detroit Lions|              TB|           -3.0|             30|  Houlihan's Stadium|          false|                 79|               9|              87|          null|       2|
|     9/2/1979|           1979|            1|           false|       Buffalo Bills|         7|         9|      Miami Dolphins|             MIA|           -5.0|             39|Ralph Wilson Stadium|          false|                 74|              15|              74|          null|       1|
|     9/2/1979|           1979|            1|           false|       Chicago Bears|         6|         3|   Green Bay Packers|             CHI|           -3.0|             31|       Soldier Field|          false|                 78|              11|              68|          null|       2|
|     9/2/1979|           1979|            1|           false|      Denver Broncos|        10|         0|  Cincinnati Bengals|             DEN|           -3.0|           31.5|   Mile High Stadium|          false|                 69|               6|              38|          null|       2|
|     9/2/1979|           1979|            1|           false|  Kansas City Chiefs|        14|         0|     Baltimore Colts|              KC|           -1.0|             37|   Arrowhead Stadium|          false|                 76|               8|              71|          null|       2|
|     9/2/1979|           1979|            1|           false|    Los Angeles Rams|        17|        24|     Oakland Raiders|             LAR|           -4.0|           36.5|     Anaheim Stadium|          false|                 70|              10|              77|          null|       1|
|     9/2/1979|           1979|            1|           false|   Minnesota Vikings|        28|        22| San Francisco 49ers|             MIN|           -7.0|             32|Metropolitan Stadium|          false|                 70|              11|              67|          null|       2|
|     9/2/1979|           1979|            1|           false|  New Orleans Saints|        34|        40|     Atlanta Falcons|              NO|           -5.0|             32| Louisiana Superdome|          false|                 72|               0|            null|          DOME|       1|
|     9/2/1979|           1979|            1|           false|       New York Jets|        22|        25|    Cleveland Browns|             NYJ|           -2.0|             41|      Giants Stadium|          false|                 73|              10|              76|          null|       1|
|     9/2/1979|           1979|            1|           false| Philadelphia Eagles|        23|        17|     New York Giants|             PHI|           -7.0|           31.5|    Veterans Stadium|          false|                 76|               9|              84|          null|       2|
|     9/2/1979|           1979|            1|           false|    Seattle Seahawks|        16|        33|  San Diego Chargers|             SEA|           -2.0|           42.5|    Seattle Kingdome|          false|                 72|               0|            null|          DOME|       1|
|     9/2/1979|           1979|            1|           false| St. Louis Cardinals|        21|        22|      Dallas Cowboys|             DAL|           -4.0|             37|Busch Memorial St...|          false|                 76|               7|              73|          null|       1|
|     9/2/1979|           1979|            1|           false| Washington Redskins|        27|        29|      Houston Oilers|             TEN|           -4.0|             33|RFK Memorial Stadium|          false|                 80|              11|              85|          null|       1|
|     9/3/1979|           1979|            1|           false|New England Patriots|        13|        16| Pittsburgh Steelers|             PIT|           -2.0|             37|     Foxboro Stadium|          false|                 78|              13|              80|          null|       1|
|     9/6/1979|           1979|            2|           false|      Denver Broncos|         9|        13|    Los Angeles Rams|             DEN|           -2.0|           31.5|   Mile High Stadium|          false|                 67|               8|              50|          null|       1|
|     9/9/1979|           1979|            2|           false|     Baltimore Colts|        26|        29|Tampa Bay Buccaneers|            PICK|            0.0|             33|Memorial Stadium ...|          false|                 64|               8|              65|          null|       1|
|     9/9/1979|           1979|            2|           false|       Buffalo Bills|        51|        24|  Cincinnati Bengals|             CIN|           -3.0|             34|Ralph Wilson Stadium|          false|                 54|               7|              63|          null|       2|
|     9/9/1979|           1979|            2|           false|       Chicago Bears|        26|         7|   Minnesota Vikings|             CHI|           -6.0|           31.5|       Soldier Field|          false|                 60|              11|              64|          null|       2|
|     9/9/1979|           1979|            2|           false|       Detroit Lions|        24|        27| Washington Redskins|            PICK|            0.0|           35.5|  Pontiac Silverdome|          false|                 72|               0|            null|          DOME|       1|
|     9/9/1979|           1979|            2|           false|   Green Bay Packers|        28|        19|  New Orleans Saints|              GB|           -3.0|             35|       Lambeau Field|          false|                 60|              13|              71|          null|       2|
+-------------+---------------+-------------+----------------+--------------------+----------+----------+--------------------+----------------+---------------+---------------+--------------------+---------------+-------------------+----------------+----------------+--------------+--------+
only showing top 20 rows

In [9]:
cols = ('schedule_date', 'schedule_season', 'schedule_week', 'schedule_playoff', 'team_favorite_id','stadium_neutral','weather_humidity', 'over_under_line')
NFL_short = NFL_guru_wins.drop(*cols)
NFL_short.show()

+--------------------+----------+----------+--------------------+---------------+--------------------+-------------------+----------------+--------------+--------+
|           team_home|score_home|score_away|           team_away|spread_favorite|             stadium|weather_temperature|weather_wind_mph|weather_detail|home_win|
+--------------------+----------+----------+--------------------+---------------+--------------------+-------------------+----------------+--------------+--------+
|Tampa Bay Buccaneers|        31|        16|       Detroit Lions|           -3.0|  Houlihan's Stadium|                 79|               9|          null|       2|
|       Buffalo Bills|         7|         9|      Miami Dolphins|           -5.0|Ralph Wilson Stadium|                 74|              15|          null|       1|
|       Chicago Bears|         6|         3|   Green Bay Packers|           -3.0|       Soldier Field|                 78|              11|          null|       2|
|      Denver Broncos|        10|         0|  Cincinnati Bengals|           -3.0|   Mile High Stadium|                 69|               6|          null|       2|
|  Kansas City Chiefs|        14|         0|     Baltimore Colts|           -1.0|   Arrowhead Stadium|                 76|               8|          null|       2|
|    Los Angeles Rams|        17|        24|     Oakland Raiders|           -4.0|     Anaheim Stadium|                 70|              10|          null|       1|
|   Minnesota Vikings|        28|        22| San Francisco 49ers|           -7.0|Metropolitan Stadium|                 70|              11|          null|       2|
|  New Orleans Saints|        34|        40|     Atlanta Falcons|           -5.0| Louisiana Superdome|                 72|               0|          DOME|       1|
|       New York Jets|        22|        25|    Cleveland Browns|           -2.0|      Giants Stadium|                 73|              10|          null|       1|
| Philadelphia Eagles|        23|        17|     New York Giants|           -7.0|    Veterans Stadium|                 76|               9|          null|       2|
|    Seattle Seahawks|        16|        33|  San Diego Chargers|           -2.0|    Seattle Kingdome|                 72|               0|          DOME|       1|
| St. Louis Cardinals|        21|        22|      Dallas Cowboys|           -4.0|Busch Memorial St...|                 76|               7|          null|       1|
| Washington Redskins|        27|        29|      Houston Oilers|           -4.0|RFK Memorial Stadium|                 80|              11|          null|       1|
|New England Patriots|        13|        16| Pittsburgh Steelers|           -2.0|     Foxboro Stadium|                 78|              13|          null|       1|
|      Denver Broncos|         9|        13|    Los Angeles Rams|           -2.0|   Mile High Stadium|                 67|               8|          null|       1|
|     Baltimore Colts|        26|        29|Tampa Bay Buccaneers|            0.0|Memorial Stadium ...|                 64|               8|          null|       1|
|       Buffalo Bills|        51|        24|  Cincinnati Bengals|           -3.0|Ralph Wilson Stadium|                 54|               7|          null|       2|
|       Chicago Bears|        26|         7|   Minnesota Vikings|           -6.0|       Soldier Field|                 60|              11|          null|       2|
|       Detroit Lions|        24|        27| Washington Redskins|            0.0|  Pontiac Silverdome|                 72|               0|          DOME|       1|
|   Green Bay Packers|        28|        19|  New Orleans Saints|           -3.0|       Lambeau Field|                 60|              13|          null|       2|
+--------------------+----------+----------+--------------------+---------------+--------------------+-------------------+----------------+--------------+--------+
only showing top 20 rows

In [10]:
NFL_fix_weather = NFL_short.withColumn('weather_detail', F.when(NFL_short.weather_detail=='DOME','1').otherwise('0'))
NFL_fix_weather.show()

+--------------------+----------+----------+--------------------+---------------+--------------------+-------------------+----------------+--------------+--------+
|           team_home|score_home|score_away|           team_away|spread_favorite|             stadium|weather_temperature|weather_wind_mph|weather_detail|home_win|
+--------------------+----------+----------+--------------------+---------------+--------------------+-------------------+----------------+--------------+--------+
|Tampa Bay Buccaneers|        31|        16|       Detroit Lions|           -3.0|  Houlihan's Stadium|                 79|               9|             0|       2|
|       Buffalo Bills|         7|         9|      Miami Dolphins|           -5.0|Ralph Wilson Stadium|                 74|              15|             0|       1|
|       Chicago Bears|         6|         3|   Green Bay Packers|           -3.0|       Soldier Field|                 78|              11|             0|       2|
|      Denver Broncos|        10|         0|  Cincinnati Bengals|           -3.0|   Mile High Stadium|                 69|               6|             0|       2|
|  Kansas City Chiefs|        14|         0|     Baltimore Colts|           -1.0|   Arrowhead Stadium|                 76|               8|             0|       2|
|    Los Angeles Rams|        17|        24|     Oakland Raiders|           -4.0|     Anaheim Stadium|                 70|              10|             0|       1|
|   Minnesota Vikings|        28|        22| San Francisco 49ers|           -7.0|Metropolitan Stadium|                 70|              11|             0|       2|
|  New Orleans Saints|        34|        40|     Atlanta Falcons|           -5.0| Louisiana Superdome|                 72|               0|             1|       1|
|       New York Jets|        22|        25|    Cleveland Browns|           -2.0|      Giants Stadium|                 73|              10|             0|       1|
| Philadelphia Eagles|        23|        17|     New York Giants|           -7.0|    Veterans Stadium|                 76|               9|             0|       2|
|    Seattle Seahawks|        16|        33|  San Diego Chargers|           -2.0|    Seattle Kingdome|                 72|               0|             1|       1|
| St. Louis Cardinals|        21|        22|      Dallas Cowboys|           -4.0|Busch Memorial St...|                 76|               7|             0|       1|
| Washington Redskins|        27|        29|      Houston Oilers|           -4.0|RFK Memorial Stadium|                 80|              11|             0|       1|
|New England Patriots|        13|        16| Pittsburgh Steelers|           -2.0|     Foxboro Stadium|                 78|              13|             0|       1|
|      Denver Broncos|         9|        13|    Los Angeles Rams|           -2.0|   Mile High Stadium|                 67|               8|             0|       1|
|     Baltimore Colts|        26|        29|Tampa Bay Buccaneers|            0.0|Memorial Stadium ...|                 64|               8|             0|       1|
|       Buffalo Bills|        51|        24|  Cincinnati Bengals|           -3.0|Ralph Wilson Stadium|                 54|               7|             0|       2|
|       Chicago Bears|        26|         7|   Minnesota Vikings|           -6.0|       Soldier Field|                 60|              11|             0|       2|
|       Detroit Lions|        24|        27| Washington Redskins|            0.0|  Pontiac Silverdome|                 72|               0|             1|       1|
|   Green Bay Packers|        28|        19|  New Orleans Saints|           -3.0|       Lambeau Field|                 60|              13|             0|       2|
+--------------------+----------+----------+--------------------+---------------+--------------------+-------------------+----------------+--------------+--------+
only showing top 20 rows

In [11]:
NFL_clean = NFL_fix_weather
NFL_clean.show()

+--------------------+----------+----------+--------------------+---------------+--------------------+-------------------+----------------+--------------+--------+
|           team_home|score_home|score_away|           team_away|spread_favorite|             stadium|weather_temperature|weather_wind_mph|weather_detail|home_win|
+--------------------+----------+----------+--------------------+---------------+--------------------+-------------------+----------------+--------------+--------+
|Tampa Bay Buccaneers|        31|        16|       Detroit Lions|           -3.0|  Houlihan's Stadium|                 79|               9|             0|       2|
|       Buffalo Bills|         7|         9|      Miami Dolphins|           -5.0|Ralph Wilson Stadium|                 74|              15|             0|       1|
|       Chicago Bears|         6|         3|   Green Bay Packers|           -3.0|       Soldier Field|                 78|              11|             0|       2|
|      Denver Broncos|        10|         0|  Cincinnati Bengals|           -3.0|   Mile High Stadium|                 69|               6|             0|       2|
|  Kansas City Chiefs|        14|         0|     Baltimore Colts|           -1.0|   Arrowhead Stadium|                 76|               8|             0|       2|
|    Los Angeles Rams|        17|        24|     Oakland Raiders|           -4.0|     Anaheim Stadium|                 70|              10|             0|       1|
|   Minnesota Vikings|        28|        22| San Francisco 49ers|           -7.0|Metropolitan Stadium|                 70|              11|             0|       2|
|  New Orleans Saints|        34|        40|     Atlanta Falcons|           -5.0| Louisiana Superdome|                 72|               0|             1|       1|
|       New York Jets|        22|        25|    Cleveland Browns|           -2.0|      Giants Stadium|                 73|              10|             0|       1|
| Philadelphia Eagles|        23|        17|     New York Giants|           -7.0|    Veterans Stadium|                 76|               9|             0|       2|
|    Seattle Seahawks|        16|        33|  San Diego Chargers|           -2.0|    Seattle Kingdome|                 72|               0|             1|       1|
| St. Louis Cardinals|        21|        22|      Dallas Cowboys|           -4.0|Busch Memorial St...|                 76|               7|             0|       1|
| Washington Redskins|        27|        29|      Houston Oilers|           -4.0|RFK Memorial Stadium|                 80|              11|             0|       1|
|New England Patriots|        13|        16| Pittsburgh Steelers|           -2.0|     Foxboro Stadium|                 78|              13|             0|       1|
|      Denver Broncos|         9|        13|    Los Angeles Rams|           -2.0|   Mile High Stadium|                 67|               8|             0|       1|
|     Baltimore Colts|        26|        29|Tampa Bay Buccaneers|            0.0|Memorial Stadium ...|                 64|               8|             0|       1|
|       Buffalo Bills|        51|        24|  Cincinnati Bengals|           -3.0|Ralph Wilson Stadium|                 54|               7|             0|       2|
|       Chicago Bears|        26|         7|   Minnesota Vikings|           -6.0|       Soldier Field|                 60|              11|             0|       2|
|       Detroit Lions|        24|        27| Washington Redskins|            0.0|  Pontiac Silverdome|                 72|               0|             1|       1|
|   Green Bay Packers|        28|        19|  New Orleans Saints|           -3.0|       Lambeau Field|                 60|              13|             0|       2|
+--------------------+----------+----------+--------------------+---------------+--------------------+-------------------+----------------+--------------+--------+
only showing top 20 rows

In [25]:
NFL_clean = NFL_clean.dropna()
NFL_clean_df = NFL_clean.toPandas()
NFL_clean_df.head()

,team_home,score_home,score_away,team_away,spread_favorite,stadium,weather_temperature,weather_wind_mph,weather_detail,home_win
0,Tampa Bay Buccaneers,31,16,Detroit Lions,-3.0,Houlihan's Stadium,79,9,0,2
1,Buffalo Bills,7,9,Miami Dolphins,-5.0,Ralph Wilson Stadium,74,15,0,1
2,Chicago Bears,6,3,Green Bay Packers,-3.0,Soldier Field,78,11,0,2
3,Denver Broncos,10,0,Cincinnati Bengals,-3.0,Mile High Stadium,69,6,0,2
4,Kansas City Chiefs,14,0,Baltimore Colts,-1.0,Arrowhead Stadium,76,8,0,2

In [26]:
#drop the nas ealier 
NFL_clean_df = NFL_clean_df.dropna()

In [27]:
NFL_guru_jetsbills = NFL_guru_current.filter(((NFL_guru_current.team_home == 'New York Jets') & (NFL_guru_current.team_away == 'Buffalo Bills')) | ((NFL_guru_current.team_home == 'Buffalo Bills') & (NFL_guru_current.team_away == 'New York Jets')))
NFL_guru_jetsbills.show()

+-------------+---------------+-------------+----------------+-------------+----------+----------+-------------+----------------+---------------+---------------+--------------------+---------------+-------------------+----------------+----------------+--------------+
|schedule_date|schedule_season|schedule_week|schedule_playoff|    team_home|score_home|score_away|    team_away|team_favorite_id|spread_favorite|over_under_line|             stadium|stadium_neutral|weather_temperature|weather_wind_mph|weather_humidity|weather_detail|
+-------------+---------------+-------------+----------------+-------------+----------+----------+-------------+----------------+---------------+---------------+--------------------+---------------+-------------------+----------------+----------------+--------------+
|    9/23/1979|           1979|            4|           false|Buffalo Bills|        46|        31|New York Jets|             BUF|           -3.0|             42|Ralph Wilson Stadium|          false|                 50|               9|              66|          null|
|   11/11/1979|           1979|           11|           false|New York Jets|        12|        14|Buffalo Bills|             NYJ|           -6.0|             42|      Giants Stadium|          false|                 52|              10|              78|          null|
|    9/14/1980|           1980|            2|           false|Buffalo Bills|        20|        10|New York Jets|            PICK|            0.0|             34|Ralph Wilson Stadium|          false|                 68|              13|              92|          null|
|    11/9/1980|           1980|           10|           false|New York Jets|        24|        31|Buffalo Bills|             BUF|           -4.0|             38|      Giants Stadium|          false|                 44|              12|              66|          null|
|     9/6/1981|           1981|            1|           false|Buffalo Bills|        31|         0|New York Jets|             BUF|           -4.0|             41|Ralph Wilson Stadium|          false|                 66|               8|              94|          null|
|   10/18/1981|           1981|            7|           false|New York Jets|        33|        14|Buffalo Bills|             BUF|           -3.0|             46|      Giants Stadium|          false|                 55|              17|              70|          null|
|   12/27/1981|           1981|     Wildcard|            true|New York Jets|        27|        31|Buffalo Bills|             NYJ|           -3.0|               |      Giants Stadium|          false|               null|            null|            null|          null|
|    10/3/1983|           1983|            5|           false|Buffalo Bills|        10|        34|New York Jets|             NYJ|           -2.0|             44|Ralph Wilson Stadium|          false|                 68|              18|              58|          null|
|   11/13/1983|           1983|           11|           false|New York Jets|        17|        24|Buffalo Bills|             NYJ|           -3.5|           41.5|      Giants Stadium|          false|                 37|              19|              55|          null|
|    9/23/1984|           1984|            4|           false|Buffalo Bills|        26|        28|New York Jets|             NYJ|           -2.0|             40|Ralph Wilson Stadium|          false|                 70|              16|              73|          null|
|    12/8/1984|           1984|           15|           false|New York Jets|        21|        17|Buffalo Bills|             NYJ|           -6.5|             39|      Giants Stadium|          false|                 32|              18|              50|          null|
|    9/15/1985|           1985|            2|           false|New York Jets|        42|         3|Buffalo Bills|             NYJ|           -3.5|             40|      Giants Stadium|          false|                 65|              10|              50|          null|
|    12/8/1985|           1985|           14|           false|Buffalo Bills|         7|        27|New York Jets|             NYJ|           -9.0|           36.5|Ralph Wilson Stadium|          false|                 34|              15|              85|          null|
|     9/7/1986|           1986|            1|           false|Buffalo Bills|        24|        28|New York Jets|             NYJ|           -6.0|             40|Ralph Wilson Stadium|          false|                 56|              12|              61|          null|
|    10/5/1986|           1986|            5|           false|New York Jets|        14|        13|Buffalo Bills|             NYJ|           -7.5|           45.5|      Giants Stadium|          false|                 68|              18|              66|          null|
|    9/13/1987|           1987|            1|           false|Buffalo Bills|        28|        31|New York Jets|             NYJ|           -1.5|             44|Ralph Wilson Stadium|          false|                 70|               9|              87|          null|
|   11/22/1987|           1987|           11|           false|New York Jets|        14|        17|Buffalo Bills|             NYJ|           -3.5|           42.5|      Giants Stadium|          false|                 27|              26|              45|          null|
|   10/17/1988|           1988|            7|           false|New York Jets|        14|        37|Buffalo Bills|             NYJ|           -2.0|             40|      Giants Stadium|          false|                 63|              13|              81|          null|
|   11/20/1988|           1988|           12|           false|Buffalo Bills|         9|         6|New York Jets|             BUF|           -7.0|             37|Ralph Wilson Stadium|          false|                 43|              10|              87|          null|
|   10/22/1989|           1989|            7|           false|Buffalo Bills|        34|         3|New York Jets|             BUF|           -6.5|             39|Ralph Wilson Stadium|          false|                 44|              17|              73|          null|
+-------------+---------------+-------------+----------------+-------------+----------+----------+-------------+----------------+---------------+---------------+--------------------+---------------+-------------------+----------------+----------------+--------------+
only showing top 20 rows

In [28]:
NFL_guru_jetsbills = NFL_guru_jetsbills.withColumn('home_win',
                                            F.when((F.col('score_home')>F.col('score_away')), 2)\
                                            .when((F.col('score_home')<F.col('score_away')), 1).otherwise(1)                                   
                                            )

In [29]:
NFL_guru_jetsbills = NFL_guru_jetsbills.drop(*cols)
NFL_guru_jetsbills.show()

+-------------+----------+----------+-------------+---------------+--------------------+-------------------+----------------+--------------+--------+
|    team_home|score_home|score_away|    team_away|spread_favorite|             stadium|weather_temperature|weather_wind_mph|weather_detail|home_win|
+-------------+----------+----------+-------------+---------------+--------------------+-------------------+----------------+--------------+--------+
|Buffalo Bills|        46|        31|New York Jets|           -3.0|Ralph Wilson Stadium|                 50|               9|          null|       2|
|New York Jets|        12|        14|Buffalo Bills|           -6.0|      Giants Stadium|                 52|              10|          null|       1|
|Buffalo Bills|        20|        10|New York Jets|            0.0|Ralph Wilson Stadium|                 68|              13|          null|       2|
|New York Jets|        24|        31|Buffalo Bills|           -4.0|      Giants Stadium|                 44|              12|          null|       1|
|Buffalo Bills|        31|         0|New York Jets|           -4.0|Ralph Wilson Stadium|                 66|               8|          null|       2|
|New York Jets|        33|        14|Buffalo Bills|           -3.0|      Giants Stadium|                 55|              17|          null|       2|
|New York Jets|        27|        31|Buffalo Bills|           -3.0|      Giants Stadium|               null|            null|          null|       1|
|Buffalo Bills|        10|        34|New York Jets|           -2.0|Ralph Wilson Stadium|                 68|              18|          null|       1|
|New York Jets|        17|        24|Buffalo Bills|           -3.5|      Giants Stadium|                 37|              19|          null|       1|
|Buffalo Bills|        26|        28|New York Jets|           -2.0|Ralph Wilson Stadium|                 70|              16|          null|       1|
|New York Jets|        21|        17|Buffalo Bills|           -6.5|      Giants Stadium|                 32|              18|          null|       2|
|New York Jets|        42|         3|Buffalo Bills|           -3.5|      Giants Stadium|                 65|              10|          null|       2|
|Buffalo Bills|         7|        27|New York Jets|           -9.0|Ralph Wilson Stadium|                 34|              15|          null|       1|
|Buffalo Bills|        24|        28|New York Jets|           -6.0|Ralph Wilson Stadium|                 56|              12|          null|       1|
|New York Jets|        14|        13|Buffalo Bills|           -7.5|      Giants Stadium|                 68|              18|          null|       2|
|Buffalo Bills|        28|        31|New York Jets|           -1.5|Ralph Wilson Stadium|                 70|               9|          null|       1|
|New York Jets|        14|        17|Buffalo Bills|           -3.5|      Giants Stadium|                 27|              26|          null|       1|
|New York Jets|        14|        37|Buffalo Bills|           -2.0|      Giants Stadium|                 63|              13|          null|       1|
|Buffalo Bills|         9|         6|New York Jets|           -7.0|Ralph Wilson Stadium|                 43|              10|          null|       2|
|Buffalo Bills|        34|         3|New York Jets|           -6.5|Ralph Wilson Stadium|                 44|              17|          null|       2|
+-------------+----------+----------+-------------+---------------+--------------------+-------------------+----------------+--------------+--------+
only showing top 20 rows

In [30]:
NFL_guru_jetsbills = NFL_guru_jetsbills.withColumn('weather_detail', F.when(NFL_short.weather_detail=='DOME','1').otherwise('0'))

In [31]:
NFL_guru_jetsbills_df = NFL_guru_jetsbills.toPandas()
NFL_guru_jetsbills_df.head()

,team_home,score_home,score_away,team_away,spread_favorite,stadium,weather_temperature,weather_wind_mph,weather_detail,home_win
0,Buffalo Bills,46,31,New York Jets,-3.0,Ralph Wilson Stadium,50.0,9.0,0,2
1,New York Jets,12,14,Buffalo Bills,-6.0,Giants Stadium,52.0,10.0,0,1
2,Buffalo Bills,20,10,New York Jets,0.0,Ralph Wilson Stadium,68.0,13.0,0,2
3,New York Jets,24,31,Buffalo Bills,-4.0,Giants Stadium,44.0,12.0,0,1
4,Buffalo Bills,31,0,New York Jets,-4.0,Ralph Wilson Stadium,66.0,8.0,0,2

In [32]:
#drop the nas ealier 
NFL_guru_jetsbills_df =NFL_guru_jetsbills_df.dropna()

In [33]:
def change_string(team_home):
    if team_home == "Buffalo Bills":
        return 1 
    else:
        return 0
    
NFL_guru_jetsbills_df["team_home"]= NFL_guru_jetsbills_df["team_home"].apply(change_string)
NFL_guru_jetsbills_df.head()

,team_home,score_home,score_away,team_away,spread_favorite,stadium,weather_temperature,weather_wind_mph,weather_detail,home_win
0,1,46,31,New York Jets,-3.0,Ralph Wilson Stadium,50.0,9.0,0,2
1,0,12,14,Buffalo Bills,-6.0,Giants Stadium,52.0,10.0,0,1
2,1,20,10,New York Jets,0.0,Ralph Wilson Stadium,68.0,13.0,0,2
3,0,24,31,Buffalo Bills,-4.0,Giants Stadium,44.0,12.0,0,1
4,1,31,0,New York Jets,-4.0,Ralph Wilson Stadium,66.0,8.0,0,2

In [34]:
def change_string(team_away):
    if team_away == "New York Jets":
        return 1 
    else:
        return 0
    
NFL_guru_jetsbills_df["team_away"]= NFL_guru_jetsbills_df["team_away"].apply(change_string)
NFL_guru_jetsbills_df.head()

,team_home,score_home,score_away,team_away,spread_favorite,stadium,weather_temperature,weather_wind_mph,weather_detail,home_win
0,1,46,31,1,-3.0,Ralph Wilson Stadium,50.0,9.0,0,2
1,0,12,14,0,-6.0,Giants Stadium,52.0,10.0,0,1
2,1,20,10,1,0.0,Ralph Wilson Stadium,68.0,13.0,0,2
3,0,24,31,0,-4.0,Giants Stadium,44.0,12.0,0,1
4,1,31,0,1,-4.0,Ralph Wilson Stadium,66.0,8.0,0,2

In [35]:
def change_string(stadium):
    if stadium == "Ralph Wilson Stadium":
        return 2 
    else:
        return 3
    
NFL_guru_jetsbills_df["stadium"]= NFL_guru_jetsbills_df["stadium"].apply(change_string)
NFL_guru_jetsbills_df.head()

,team_home,score_home,score_away,team_away,spread_favorite,stadium,weather_temperature,weather_wind_mph,weather_detail,home_win
0,1,46,31,1,-3.0,2,50.0,9.0,0,2
1,0,12,14,0,-6.0,3,52.0,10.0,0,1
2,1,20,10,1,0.0,2,68.0,13.0,0,2
3,0,24,31,0,-4.0,3,44.0,12.0,0,1
4,1,31,0,1,-4.0,2,66.0,8.0,0,2

for loop to go through the teams- completing the procress automatically rather than going through each match indiv.

In [36]:
results = []
home_teams = NFL_clean.select('team_home').distinct()
home_team_list = home_teams.rdd.map(lambda x: x[0]).collect()
visiting_teams = NFL_clean.select('team_away').distinct()
visiting_team_list = visiting_teams.rdd.map(lambda x: x[0]).collect()
teams_seen = []

In [38]:
import pandas as pd 
save = []
save = pd.DataFrame()
check_df = pd.DataFrame()

In [ ]:
for home_team in home_team_list:
  for visiting_team in visiting_team_list:
    if home_team == visiting_team:
      continue
    else:

      # Subset your dataframe
      temp_df = NFL_clean.filter(((NFL_clean.team_home == home_team) & (NFL_clean.team_away == visiting_team)) | ((NFL_clean.team_home == visiting_team) & (NFL_clean.team_away == home_team)))
        # Dump it to a pandas df
      temp_df_panda = temp_df.toPandas()
      temp_df_panda = temp_df_panda.drop(['team_home', 'team_away'], axis=1)
      check_df = temp_df_panda
      if len(temp_df_panda) > 10:     
        # Get dummies
        stadium_encoded = pd.get_dummies(temp_df_panda, columns=['stadium'])
        save = stadium_encoded
        stadium_encoded.head()
        X = stadium_encoded.drop(columns=['home_win'])
        y = stadium_encoded['home_win']

        # Split into X, Y and training/test sets

        X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1 )#,stratify = y

        # Fit model
        ros = RandomOverSampler(random_state=1)
        X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
        model = LogisticRegression(solver='lbfgs', random_state=1)
        model.fit(X_resampled, y_resampled)

        # Predict
        y_pred = model.predict(X_test)
        accuracy = balanced_accuracy_score(y_test, y_pred)
        matrix = confusion_matrix(y_test, y_pred)

        #results = pd.DataFrame()
        # Put your results in a dataframe

        results['Team_1'] = home_team
        results['Team_2'] = visiting_team
        results['Accuracy'] = accuracy

        # Store results
        #results.append()
        all_model_results = pd.concat([results])

In [40]:
results = []

home_team_list = df['team_home'].unique()
visiting_team_list = df['team_away'].unique()

teams_seen = []

for home_team, visiting_team in zip(home_team_list, visiting_team_list):

  # Subset your dataframe
  temp_df = NFL_guru_current.filter(((NFL_guru_current.team_home == home_team) & (NFL_guru_current.team_away == visiting_team)) | ((NFL_guru_current.team_home == visiting_team) & (NFL_guru_current.team_away == home_team)))

  # Dump it to a pandas df

  # Get dummies

  # Split into X, Y and training/test sets

  # Fit model

  # Predict
  res = pd.Dataframe()

  # Put your results in a dataframe
  res['Home Team'] = home_team
  res['Visiting Team'] = visiting_team

  # Store results
  results.append()

all_model_results = pd.concat(results)

NameError: ignored

In [41]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [42]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [43]:
NFL_jetsbills_encoded = pd.get_dummies(NFL_guru_jetsbills_df, columns=['stadium'])
NFL_jetsbills_encoded.shape

(79, 11)

In [44]:
#make sure when running the x and y ALL nas need to be removed 
X = pd.get_dummies(NFL_guru_jetsbills_df.drop(columns="home_win"))
y = NFL_guru_jetsbills_df["home_win"]

In [45]:
NFL_jetsbills_encoded = NFL_jetsbills_encoded.dropna()

In [29]:
y.value_counts()

2    42
1    37
Name: home_win, dtype: int64

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)
X_train.shape

(59, 10)

In [47]:
from imblearn.ensemble import BalancedRandomForestClassifier
brfc_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brfc_model.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [48]:
NFL_jetsbills_encoded = pd.get_dummies(NFL_guru_jetsbills_df, columns=['stadium'])
NFL_jetsbills_encoded.shape

(79, 11)

In [49]:
NFL_jetsbills_encoded = NFL_jetsbills_encoded.dropna()

In [50]:
NFL_jetsbills_encoded.shape

(79, 11)

In [51]:
#interaction between the 2 teams- keeping it seperate from the entire DB cleaned 
X = NFL_jetsbills_encoded.drop(['home_win'], axis=1)
y = NFL_jetsbills_encoded['home_win']

In [52]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)

Random Sam balanced accuracy= 0.

In [53]:
# Resample the training data with the RandomOversampler

from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({1: 31, 2: 31})

In [54]:
from sklearn.linear_model import LogisticRegression
#convert the team names from strings to float- need to do this earlier with ALL team names- preventative

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [55]:
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9545454545454546

In [56]:
confusion_matrix(y_test, y_pred)

array([[ 9,  0],
       [ 1, 10]])

In [57]:
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.90      1.00      0.91      0.95      0.95      0.92         9
          2       1.00      0.91      1.00      0.95      0.95      0.90        11

avg / total       0.96      0.95      0.96      0.95      0.95      0.91        20

SMOTE testing- balanced accuracy 0.955

In [58]:
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(
    X_train, y_train)
Counter(y_resampled)

Counter({1: 31, 2: 31})

In [59]:
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [60]:
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9545454545454546

In [61]:
confusion_matrix(y_test, y_pred)

array([[ 9,  0],
       [ 1, 10]])

In [62]:
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          1       0.90      1.00      0.91      0.95      0.95      0.92         9
          2       1.00      0.91      1.00      0.95      0.95      0.90        11

avg / total       0.96      0.95      0.96      0.95      0.95      0.91        20

SMOTEEN testing- balanced accuracy= 1

In [63]:
from imblearn.combine import SMOTEENN

smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
Counter(y_resampled)

Counter({1: 29, 2: 30})

In [64]:
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [65]:
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

1.0

In [66]:
confusion_matrix(y_test, y_pred)

array([[ 9,  0],
       [ 0, 11]])

In [67]:
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          1       1.00      1.00      1.00      1.00      1.00      1.00         9
          2       1.00      1.00      1.00      1.00      1.00      1.00        11

avg / total       1.00      1.00      1.00      1.00      1.00      1.00        20